body,
.p-component {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border-radius: 40px; 
}