.primary-btn{
    background: $primary-color;
    border-radius: 39px;
    width: 545px;
    height: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    border-style: none;
    color: #FFFFFF;
}