<div class="content_wrapper">
    <div class="login_left">
        <h2>Logo</h2>
        <div class="login_left_inner">
            <form class="login_form" action="">
                <h5>Nice to see you again!</h5>
                <h6>Welcome Back!</h6>
                <input type="text" name="" id="" placeholder="Email ID or Phone Number">
                <input type="password" placeholder="Password">
                <button class="custom_btn">Login</button>
            </form>
            <div class="other_option">
                <h6><span>or</span></h6>
            </div>
            <button class="social_login">Login with Google</button>
            <div class="register">
                <h5>Have not met us before?</h5>
                <a href="javascript:void(0)">Register</a>
            </div>
        </div>
    </div>
    <div class="login_right">
        <img src="../../../../../assets/images/login.png.png" width="720" height="1024" alt="login image">
    </div>
</div>